<h3 class = "container"> About This Database</h3>
<div class = "container">
  <div class="row">

  <div class="col-xs-12 col-sm-6 col-md-8"><p>
The Timonium center, located at 2080 York Road, Suite 235, Timonium, Maryland 21093, is currently seeking to upgrade its data processing capabilities. C2 Education recently implemented the database SmartSquared across all centers to digitize records that had previously been compiled by hand, but Dianne Kim, the director of the Timonium center, feels that SmartSquared lacks certain functionalities which would be useful for her center. So, she has come to us to implement a new database to address these shortcomings. By providing a centralized information repository for director, employee, payroll, student, tutor, and billing information, we hope to facilitate administrative, tutor, and student transactions alike, including:
</p>
<p>
  -student reports that show students' score increases from their initial   diagnostic test and most recent interim test
</p>
<p>
  -tutor report logs allowing for more consistent tracking of pedagogical     progress
</p>
<p>
  -comprehensive order records for more efficient inventory adjustments
</p>
<p>
  -consistent records of employee information (interview test scores, teaching  locations)
</p>
<p>
  -an automated payroll interface to simplify accounting
</p>
</div>


<div class="col-xs-6 col-md-4">
  <figure>
    <img src="http://www.c2educate.com/wp-content/uploads/2012/04/founders1.gif" alt="C2 FOUNDERS" />

    <figcaption>The C2 Founders</figcaption>
  </figure>

</div>

</div>

</div>
