<h1 class = "container">New Employee</h1>
<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
<%= render 'form' %>


      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="thumbnail">
        <!-- IMAGE CONTAINER-->
        <img src="http://revolutionarypaideia.files.wordpress.com/2011/02/black-teacher-man.jpg" alt="">
        <div style= "text-align:center;">
        <%= link_to 'List Employees', employees_path, :class => 'container btn btn-primary'%>
        </div>
      </div>

</div>
</div>



