<h3>Find A Student For The Contract</h3>

<%= form_tag :controller => 'contracts', :action => 'select_student', :method => 'get' do %>

      <%= text_field_tag :first, params[:first], :id => 'search_field_1' %>
      <%= text_field_tag :last, params[:last], :id => 'search_field_2' %>
      <%= submit_tag "Search", :class => 'container btn btn-primary', :name => nil %>

  <% end %>