<h4 class = "container">Books: view, create, edit, or delete information about books students have purchased</h4>

<p class = "container">
<%= link_to 'Books', books_path, class: "container btn btn-primary" %>
</p>