<h4 class = "container">Resources: view, create, edit, or delete information about center resources</h4>

<p class = "container">
<%= link_to 'Resources', resources_path, class: "container btn btn-primary" %>
</p>