</div>
         <!-- empty div for space -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="thumbnail">
        <!-- IMAGE CONTAINER-->
        <img src="http://www.evolllution.com/wp-content/uploads/2013/07/Busy-Student.jpg" alt="">
        <div style= "text-align:center;">
        <%= link_to 'List students', students_path, :class => 'container btn btn-primary'%>
        </div>
      </div>

</div>
</div>