<h4 class = "container">Employee contract information: view, create, edit, or delete employee contracts</h4>

<p>
<%= link_to 'Employee Contracts', employee_contracts_path, class: "container btn btn-primary" %>
</p>