<p id="notice"><%= notice %></p>

<p>
  <strong>Hours transferred:</strong>
  <%= @student_hour_transfer.hours_transferred %>
</p>


<%= link_to 'Edit', edit_student_hour_transfer_path(@student_hour_transfer) %> |
<%= link_to 'List Student Hour Transfers', student_hour_transfers_path %>
