<h4 class = "container">Parent/guardian information: view, create, edit, or delete information about a student's parents or guardians</h4>

<p class = "container">
<%= link_to 'Parents/Guardians', guardians_path, class: "container btn btn-primary" %>
</p>