<h4 class = "container">Sibling information: view, create, edit, or delete information about a student's siblings</h4>

<p class = "container">
<%= link_to 'Siblings', siblings_path, class: "container btn btn-primary" %>
</p>