<h4 class = "container">Student contract information: view, create, edit, or delete student contracts</h4>

<p>
<%= link_to 'Student Contracts', contracts_path, class: "container btn btn-primary" %>
</p>