<h4 class = "container">Student relatives: view, create, edit, or delete parents or siblings</h4>

<p>
<%= link_to 'Student Relatives', student_searches_student_relatives_path, class: "container btn btn-primary" %>
</p>