<!DOCTYPE html>
<html>
<head>
  <title>Cosc578app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
-->
<!-- Le styles -->
<!-- Latest compiled and minified CSS BS 3.0. -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<!--<link href="assets/css/theme.css" rel="stylesheet">-->

<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

<!--[if lt IE 7]>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
  <![endif]-->
    <!-- Fav and touch icons -->

    <!-- Le styles -->
<!-- GOOGLE FONT-->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONT-->

  <%= csrf_meta_tags %>
</head>

<body>
 <div id="container">
    <header>
    </header>

    <main role="main">

      <%= yield %>

    </main>

    <footer>
    </footer>
  </div>
</body>

</html>
